<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <joint name="imu_joint" type="fixed">
        <parent link="beam_link"/>
        <child link="imu_link"/>
        <origin xyz="0.01 -0.09 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

    <link name="imu_link">
        <visual>
            <geometry>
                <box size="0.01 0.047 0.035"/>
            </geometry>
            <material name="red"/>
        </visual>
    </link>
</robot>

